################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/HolidaySearchApplication/v17
/.vs/HolidaySearchApplication/v17/.wsuo
/.vs/NewRepo
/.vs/NewRepo/FileContentIndex
/.vs/NewRepo/FileContentIndex/2684f459-433a-42bb-bacc-817e2b8fb5ee.vsidx
/.vs/NewRepo/FileContentIndex/4faebec3-e93a-43d0-8a78-733dcd1a0fac.vsidx
/.vs/NewRepo/FileContentIndex/62b9df17-df23-4b83-bf00-a1015bc236ec.vsidx
/.vs/NewRepo/FileContentIndex/8ab787ca-2161-4258-b28b-5ffa98876c5f.vsidx
/.vs/NewRepo/FileContentIndex/d43a03a0-e4ba-4674-9e31-22d6b068047c.vsidx
/.vs/NewRepo/v17
/.vs/NewRepo/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/UnitTests/bin/Release/net7.0
/UnitTests/obj
